{% extends 'auth/partials/app.twig' %}

{% block content %}
    <div class="box">
        <h1 class="title">Smart Patch</h1>
        <p class="field">
            <a class="button">
                <span class="icon"><i class="fa fa-github"></i></span>
                <span>GitHub</span>
            </a>
        </p>
        <div id="messages"></div>
    </div>
    <div class="box">
        <h1 class="title">Howdy there! Experience something new?</h1>
        <p>Welcome to the all new Patchy, the Smarty Patchy. Get inside to see it in action</p>
        <hr class="form">
        <p class="field">
            <a class="button is-primary is-outlined">Login account</a>
            <a class="button is-primary is-outlined">Create account</a>
        </p>
    </div>
{% endblock %}
